html{
  font-size: 1px;
}

body {
  line-height: normal;
}
.zealous-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.developer,
body {
  margin: 0;
}
.services-b,
.zealous-creative-developer {
  position: absolute;
  font-size: 85rem;
  display: inline-block;
}
.zealous-creative-developer {
  top: 156rem;
  left: 267rem;
  width: 601rem;
  height: 347rem;
}
.services-b {
  top: 2050rem;
  left: 156rem;
}
.computer-coding-600x600-1-icon {
  position: absolute;
  top: 503rem;
  left: 267rem;
  width: 699rem;
  height: 707rem;
  object-fit: cover;
}
.studying-at-poornima-universit1 {
  position: absolute;
  top: 8rem;
  left: 331rem;
  display: inline-block;
}
.riyansh-jain-creative-develope,
.twitter-div1 {
  position: absolute;
  top: 3270rem;
  left: 14rem;
  font-size: 24rem;
  font-weight: 600;
  display: inline-block;
}
.twitter-div1 {
  top: 3301rem;
  left: 504rem;
  cursor: pointer;
}
.instagram-div1 {
  top: 3301rem;
  left: 649rem;
  width: 143rem;
  height: 32rem;
}
.developed-and-designed-by-riya,
.instagram-div1,
.lindekin-div1 {
  position: absolute;
  font-size: 24rem;
  font-weight: 600;
  display: inline-block;
}
.lindekin-div1 {
  top: 3301rem;
  left: 831rem;
  cursor: pointer;
}
.developed-and-designed-by-riya {
  top: 3276rem;
  left: 1116rem;
}
.cloud-engineer-span {
  text-decoration: underline;
}
.i-am-a-to-be-cloud-engineer-wi {
  top: 1275rem;
  left: 390rem;
  font-size: 24rem;
}
.a-journey-that-evolves-me,
.div,
.div1,
.i-am-a-to-be-cloud-engineer-wi {
  position: absolute;
  font-weight: 600;
  display: inline-block;
  
}
.a-journey-that-evolves-me {
  top: 1275rem;
  left: -800rem;
  font-size: 24rem;
}
.div,
.div1 {
  top: 156rem;
  left: 27rem;
}
.div1 {
  top: 2192rem;
  left: 14rem;
}
.div2,
.div3,
.div4,
.front-end-development,
.ui-designing-div {
  position: absolute;
  top: 2210rem;
  left: -975rem;
  font-weight: 600;
  display: inline-block;
}
.div3,
.div4,
.front-end-development,
.ui-designing-div {
  top: 2290rem;
  
}
.div3{
  left: -1000rem;
}
.div4,
.front-end-development,
.ui-designing-div {
  top: 2365rem;
  left: -1027rem;
}
.front-end-development,
.ui-designing-div {
  top: 2220rem;
  left: 324rem;
}
.front-end-development{
  left: 90rem;
}
.ui-designing-div {
  top: 2165rem;
}
.front-end-development{
  top: 2365rem;
  left: -900rem;
}
.creative-implementation-div,
.div5,
.send-me-a-message1,
.want-to-work-together {
  position: absolute;
  top: 2250rem;
  left: 234rem;
  font-weight: 600;
  display: inline-block;
}
.creative-implementation-div{
  left: 180rem;
  top: 2243rem;
}
.div4{
  right: 100rem;
}
.div5,
.send-me-a-message1,
.want-to-work-together {
  top: 2779rem;
  left: 14rem;
}
.send-me-a-message1,
.want-to-work-together {
  left: 329rem;
}
.send-me-a-message1 {
  left: 898rem;
}
.connectto-riyanshgamil-com1 {
  position: absolute;
  top: 2877rem;
  left: 14rem;
  font-size: 85rem;
  display: inline-block;
  cursor: pointer;
}
.line-icon {
  position: absolute;
  top: 482.5rem;
  left: 267rem;
  width: 699rem;
  height: 10rem;
}
.line-icon1,
.line-icon2,
.line-icon3,
.line-icon4 {
  position: absolute;
  top: 2348rem;
  left: 156rem;
  width: 1200rem;
  height: 2rem;
}
.line-icon2,
.line-icon3,
.line-icon4 {
  top: 2428rem;
}
.line-icon3,
.line-icon4 {
  top: 2508rem;
}
.line-icon4 {
  top: 2588rem;
}
.arrow-icon,
.photo-2-1 {
  position: absolute;
  top: 2940rem;
  left: 1280.18rem;
  width: 73.64rem;
  height: 205rem;
  cursor: pointer;
}
.photo-2-1 {
  top: 1524rem;
  left: 832rem;
  width: 494rem;
  height: 502rem;
  object-fit: cover;
}
.about-div2,
.contact-div2 {
  position: absolute;
  top: 8rem;
  display: inline-block;
}
.contact-div2 {
  left: 1291rem;
  cursor: pointer;
}
.about-div2 {
  left: 1191rem;
  text-decoration: underline;
}
.work-div1 {
  left: 1103rem;
  cursor: pointer;
}
.home-div1,
.riyansh-jain-div1,
.work-div1 {
  position: absolute;
  top: 8rem;
  display: inline-block;
}
.home-div1 {
  left: 1012rem;
  cursor: pointer;
}
.riyansh-jain-div1 {
  left: 31rem;
}
.about-div1 {
  position: relative;
  background-color: #c7c7c7;
  width: 100%;
  height: 3350rem;
  text-align: left;
  font-size: 20rem;
  color: #000;
  font-family: "Red Hat Text";
}
.reveal{
  position: relative;
  transform: translateY(0rem);
  opacity: 0;
  transition: all 1s ease;
  align-items: flex-start;
}
.reveal.active{
  transform: translateY(0rem);
  opacity: 1;
}
.cover{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  top: 0;
  left: -100vw;
  z-index: 1000;

}
.transition.slide .cover1{
  background-color: rgb(27, 27, 27);
  animation: slide 0.3s ease-in-out forwards;
}
.transition.slide .cover2{
  background-color: rgb(47, 47, 47);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.transition.slide  .cover3{
  background-color: rgb(67, 67, 67);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}

@keyframes slide {
  from{
    left: -100vw;
  }
  to{
    left: 0;
  }
}
.cove{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  top: 0;
  left: -100vw;
  z-index: 1000;
}
.transitio.slide .cove1{
  background-color: rgb(27, 27, 27);
  animation: slide 0.3s ease-in-out forwards;
}
.transitio.slide .cove2{
  background-color: rgb(47, 47, 47);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.transitio.slide  .cove3{
  background-color: rgb(67, 67, 67);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
@keyframes slide {
  from{
    left: -100vw;
  }
  to{
    left: 0;
  }
}
.cove{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  top: 0;
  left: -100vw;
  z-index: 1000;
}
.transiti.slide .cov1{
  background-color: rgb(27, 27, 27);
  animation: slide 0.9s ease-in-out forwards;
}

@keyframes slide {
  from{
    left: -100vw;
  }
  to{
    left: 0;
  }
}

