html{
  font-size: 1px;
}
body {
  margin: 0;
  line-height: normal;
}
.creative-developer-b {
  position: absolute;
  top: 85rem;
  left: 26rem;
  font-size: 85rem;
  display: inline-block;
  width: 601rem;
  height: 195rem;
}
.riyansh-p {
  margin-block-start: 0;
  margin-block-end: 2rem;
}
.jain-p {
  margin: 0;
}
.riyansh-jain-b {
  position: absolute;
  top: 588rem;
  left: 1027rem;
  font-size: 85rem;
  display: inline-block;
  width: 413rem;
  height: 225rem;
}
.studying-at-poornima-universit3 {
  position: absolute;
  top: 8rem;
  left: 331rem;
  display: inline-block;
}
.arrow-icon2 {
  position: absolute;
  top: 621rem;
  left: 14.95rem;
  width: 22.09rem;
  height: 61.5rem;
}
.ui-span {
  text-decoration: underline;
}
.cloud-computing-student-who-lo,
.riyansh-jain-creative-develope2,
.twitter-div3 {
  position: absolute;
  top: 617rem;
  left: 60rem;
  font-size: 24rem;
  display: inline-block;
}
.riyansh-jain-creative-develope2,
.twitter-div3 {
  top: 3820rem;
  left: 14rem;
  font-weight: 600;
}
.twitter-div3 {
  top: 3851rem;
  left: 504rem;
  cursor: pointer;
}
.instagram-div3 {
  top: 3851rem;
  left: 649rem;
  width: 143rem;
  height: 32rem;
}
.developed-and-designed-by-riya2,
.instagram-div3,
.lindekin-div3 {
  position: absolute;
  font-size: 24rem;
  font-weight: 600;
  display: inline-block;
}
.lindekin-div3 {
  top: 3851rem;
  left: 831rem;
  cursor: pointer;
}
.developed-and-designed-by-riya2 {
  top: 3826rem;
  left: 1116rem;
}
.development-and-software-deve {
  margin-block-start: 0;
  margin-block-end: 0;
}
.i-am-a-to-be-cloud-engineer-wi2 {
  position: absolute;
  top: 845rem;
  left: 355rem;
  font-size: 36rem;
  font-weight: 600;
  display: inline-block;
}
.i-have-taken-multiple-leadersh,
.more-about-me-and-services,
.this-website-provides-an-overv {
  position: absolute;
  top: 875rem;
  left: 355rem;
  font-size: 36rem;
  font-weight: 600;
  display: inline-block;
}
.i-have-taken-multiple-leadersh,
.more-about-me-and-services {
  top: 1050rem;
  font-size: 24rem;
  position: absolute;
  top: 900rem;
  left: 355rem;
  
  font-weight: 600;
  display: inline-block;
}
.more-about-me-and-services {
  top: 1463rem;
  text-decoration: underline;
  line-height: 40rem;
  font-weight: 500;
  text-align: center;
  right: 450rem;
}
.div10,
.div11,
.div12,
.div9,
.want-to-work-together2 {
  position: absolute;
  top: 829rem;
  left: 11rem;
  font-weight: 600;
  display: inline-block;
}
.div10,
.div11,
.div12,
.want-to-work-together2 {
  top: 1610rem;
  left: 14rem;
}
.div11,
.div12,
.want-to-work-together2 {
  top: 2391rem;
}
.div12,
.want-to-work-together2 {
  top: 3329rem;
}
.want-to-work-together2 {
  left: 329rem;
}
.creative-development-div1,
.recent-projects-div1,
.send-me-a-message3 {
  position: absolute;
  top: 3329rem;
  left: 898rem;
  font-weight: 600;
  display: inline-block;
}
.creative-development-div1,
.recent-projects-div1 {
  top: 1610rem;
  left: 424rem;
  font-size: 24rem;
}
.creative-development-div1 {
  left: 1079rem;
}
.connectto-riyanshgamil-com3,
.encryp-decryp-b,
.whiteboard1 {
  position: absolute;
  left: 14rem;
  font-size: 85rem;
  display: inline-block;
}
.whiteboard1 {
  top: 1475rem;
  width: 612rem;
  height: 156rem;
  left: -875rem;
  
}
.connectto-riyanshgamil-com3,
.encryp-decryp-b {
  top: 2554rem;
  left: 10rem;
}
.connectto-riyanshgamil-com3 {
  top: 3427rem;
  cursor: pointer;
}

.the-idea-of-an-online-whiteboa1 {
  position: absolute;
  top: 1350rem;
  left: 130rem;
  font-size: 24rem;
  display: inline-block;
}
.encryption-is-the-process-of-t1 {
  top: 2200rem;
  right: 325rem;
  white-space: pre-wrap;
  position: absolute;
  font-size: 24rem;
  display: inline-block;
}
.arrow-icon3 {
  position: absolute;
  top: 3488rem;
  left: 1316.18rem;
  width: 73.64rem;
  height: 205rem;
  cursor: pointer;
}
.photo-1-1,
.photo-2-2 {
  position: absolute;
  top: 300rem;
  left: 26rem;
  width: 380rem;
  height: 285rem;
  object-fit: cover;
}
.photo-2-2 {
  left: 1037rem;
}
.encryp-1-icon1,
.whiteboard-1-icon1 {
  position: absolute;
  top: 2010rem;
  left: 574rem;
  width: 800rem;
  height: 449.38rem;
  object-fit: cover;
}
.encryp-1-icon1 {
  top: 2752rem;
  left: 774rem;
  width: 400rem;
  height: 423.4rem;
}
.contact-div4 {
  position: fixed;
  top: 8rem;
  left: 1291rem;
  display: inline-block;
  cursor: pointer;
}
.about-div4 {
  position: fixed;
  left: 1192rem;
  cursor: pointer;
  text-decoration: none;
}
.about-div4,
.home-div3,
.riyansh-jain-div3,
.work-div4 {
  position: fixed;
  top: 8rem;
  display: inline-block;
  text-decoration: none;
}
.work-div4 {
  left: 1103rem;
  cursor: pointer;
}
.home-div3,
.riyansh-jain-div3 {
  left: 31rem;
}
.home-div3 {
  left: 1013rem;
  text-decoration: underline;
}
.main-page1-div {
  position: relative;
  background-color: #c7c7c7;
  width: 100%;
  height: 3905rem;
  overflow: hidden;
  text-align: left;
  font-size: 20rem;
  color: #000;
  font-family: "Red Hat Text";
}
.reveal{
  position: relative;
  transform: translateY(0rem);
  opacity: 0;
  transition: all 1s ease;
  align-items: flex-start;
}
.reveal.active{
  transform: translateY(0rem);
  opacity: 1;
}
.cover{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  top: 0;
  left: -100vw;
  z-index: 1000;

}
.transition.slide .cover1{
  background-color: rgb(27, 27, 27);
  animation: slide 0.3s ease-in-out forwards;
}
.transition.slide .cover2{
  background-color: rgb(47, 47, 47);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.transition.slide  .cover3{
  background-color: rgb(67, 67, 67);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}

@keyframes slide {
  from{
    left: -100vw;
  }
  to{
    left: 0;
  }
}
.cove{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  top: 0;
  left: -100vw;
  z-index: 1000;
}
.transitio.slide .cove1{
  background-color: rgb(27, 27, 27);
  animation: slide 0.3s ease-in-out forwards;
}
.transitio.slide .cove2{
  background-color: rgb(47, 47, 47);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.transitio.slide  .cove3{
  background-color: rgb(67, 67, 67);
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
@keyframes slide {
  from{
    left: -100vw;
  }
  to{
    left: 0;
  }
}
.cove{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  top: 0;
  left: -100vw;
  z-index: 1000;
}
.transiti.slide .cov1{
  background-color: rgb(27, 27, 27);
  animation: slide 0.9s ease-in-out forwards;
}

@keyframes slide {
  from{
    left: -100vw;
  }
  to{
    left: 0;
  }
}
@media (max-width:768px){
  html{
    font-size: 4.5%;
    
  }
  .main-page1-div {
    position: relative;
    background-color: #c7c7c7;
    width: 100%;
    height: 3905rem;
    overflow: hidden;
    text-align: left;
    font-size: 10rem;
    color: #000;
    font-family: "Red Hat Text";
}
.creative-developer-b {
  position: absolute;
  top: 85rem;
  left: 26rem;
  font-size: 50rem;
  display: inline-block;
  width: 601rem;
  height: 195rem;
}
.studying-at-poornima-universit3 {
  position: absolute;
  top: 8rem;
  left: 200rem;
  display: inline-block;
}
.riyansh-jain-b {
  position: absolute;
  top: 617rem;
  left: 45rem;
  font-size: 50rem;
  display: inline-block;
  width: 413rem;
  height: 225rem;
}
.cloud-computing-student-who-lo
{
  position: absolute;
  top: 775rem;
  left: 26rem;
  font-size: 24rem;
  display: inline-block;
}
.i-am-a-to-be-cloud-engineer-wi2 {
  position: absolute;
  top: 900rem;
  left: 30rem;
  font-weight: 600;
  font-size: 20rem;
  
  display: inline-block;
}
.this-website-provides-an-overv {
  position: absolute;
  top: 1450rem;
  left: 26rem;
  font-size: 24rem;
  font-weight: 600;
  display: inline-block;
}
.i-have-taken-multiple-leadersh
{
  top: 1150rem;
  font-size: 24rem;
  position: absolute;
 
  left: 26rem;
  
  font-weight: 600;
  display: inline-block;
}
.more-about-me-and-services {
  top: 1600rem;
  text-decoration: underline;
  line-height: 40rem;
  text-align: justify;
  left: 225rem;
  
}
.recent-projects-div1 {
  top: 1725rem;
  left: 375rem;
  font-size: 15rem;
}
.div9
{
  position: absolute;
  top: 850rem;
  left: 11rem;
  font-weight: 600;
  display: inline-block;
}
.div10
{
  top: 1750rem;
  left: 14rem;
}
.the-idea-of-an-online-whiteboa1 {
  position: absolute;
  top: 1900rem;
  left: 45rem;
  font-size: 24rem;
  display: inline-block;
}
.encryption-is-the-process-of-t1 {
  position: relative;
  top: 2550rem;
 
   right: 10rem;
  
  font-size: 24rem;
  display: inline-block;
}

.whiteboard-1-icon1 {
  position: absolute;
  top: 2075rem;
  left: 40rem;
  width: 300px;
  height: auto;
}
.whiteboard1 {
  position: absolute;
  left: 14rem;
  font-size: 60rem;
  display: inline-block;
  top: 1800rem;
}
.encryp-decryp-b
{
  position: absolute;
  left: 14rem;
  font-size: 60rem;
  display: inline-block;
  top: 2450rem;
}
.encryp-1-icon1 {
  top: 2800rem;
  left: 45rem;
  width: 400rem;
  height: 423.4rem;
}
.want-to-work-together2 {
  top: 3325rem;
  left: 200rem;
}
.send-me-a-message3 {
  position: absolute;
  top: 3325rem;
  left: 425rem;
  font-weight: 600;
  display: inline-block;
}
.connectto-riyanshgamil-com3
{
  position: absolute;
  left: 14rem;
  font-size: 50rem;
  display: inline-block;
}
.riyansh-jain-creative-develope2
{
  position: absolute;
  top: 3675rem;
  left: 24rem;
  font-size: 24rem;
  display: inline-block;
}
.lindekin-div3 {
  top: 3775rem;
  left: 424rem;
  cursor: pointer;
  font-size: 15rem;
}
.twitter-div3 {
  top: 3775rem;
  left: 225rem;
  cursor: pointer;
  font-size: 15rem;
}
.instagram-div3 {
  top: 3775rem;
  left: 24rem;
  width: 143rem;
  height: 32rem;
  font-size: 15rem;
}
.about-div4 {
  position: fixed;
  top: 8rem;
  display: inline-block;
  text-decoration: none;
  left: 450rem;
  
}

.work-div4 {
  position: fixed;
  top: 18rem;
  display: inline-block;
  text-decoration: none;
  left: 450rem;
  
}
.contact-div4{
  position: fixed;
  top: 28rem;
  display: inline-block;
  text-decoration: none;
  left: 450rem;
}


}
