body {
  line-height: normal;
}
.creative-p4 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.developer2,
body {
  margin: 0;
}
.creative-developer-b1 {
  position: absolute;
  top: 85px;
  left: 26px;
  font-size: 85px;
  display: inline-block;
  width: 601px;
  height: 195px;
}
.riyansh-p1 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.riyansh-jain-b1 {
  position: absolute;
  top: 588px;
  left: 1027px;
  font-size: 85px;
  display: inline-block;
  width: 413px;
  height: 225px;
}
.studying-at-poornima-universit4 {
  position: absolute;
  top: 8px;
  left: 331px;
  display: inline-block;
}
.arrow-icon4 {
  position: absolute;
  top: 621px;
  left: 14.95px;
  width: 22.09px;
  height: 61.5px;
}
.ui-span1 {
  text-decoration: underline;
}
.cloud-computing-student-who-lo2,
.riyansh-jain-creative-develope3 {
  position: absolute;
  top: 617px;
  left: 60px;
  font-size: 24px;
  display: inline-block;
}
.riyansh-jain-creative-develope3 {
  top: 3820px;
  left: 14px;
  font-weight: 600;
}
.twitter-div4 {
  left: 504px;
  cursor: pointer;
}
.instagram-div4,
.lindekin-div4,
.twitter-div4 {
  position: absolute;
  top: 3851px;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
}
.instagram-div4 {
  left: 649px;
  width: 143px;
  height: 32px;
}
.lindekin-div4 {
  left: 831px;
  cursor: pointer;
}
.developed-and-designed-by-riya3,
.i-am-a-to-be-cloud-engineer-wi4 {
  position: absolute;
  top: 3826px;
  left: 1116px;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
}
.i-am-a-to-be-cloud-engineer-wi4 {
  top: 845px;
  left: 355px;
  font-size: 36px;
}
.i-have-taken-multiple-leadersh1,
.more-about-me-and-services1,
.this-website-provides-an-overv1 {
  position: absolute;
  top: 1066px;
  left: 355px;
  font-size: 36px;
  font-weight: 600;
  display: inline-block;
}
.i-have-taken-multiple-leadersh1,
.more-about-me-and-services1 {
  top: 1244px;
  font-size: 24px;
}
.more-about-me-and-services1 {
  top: 1463px;
  text-decoration: underline;
  line-height: 40px;
  font-weight: 500;
}
.div13,
.div14,
.div15,
.div16,
.want-to-work-together3 {
  position: absolute;
  top: 829px;
  left: 11px;
  font-weight: 600;
  display: inline-block;
}
.div14,
.div15,
.div16,
.want-to-work-together3 {
  top: 1610px;
  left: 14px;
}
.div15,
.div16,
.want-to-work-together3 {
  top: 2391px;
}
.div16,
.want-to-work-together3 {
  top: 3329px;
}
.want-to-work-together3 {
  left: 329px;
}
.creative-development-div2,
.recent-projects-div2,
.send-me-a-message4 {
  position: absolute;
  top: 3329px;
  left: 898px;
  font-weight: 600;
  display: inline-block;
}
.creative-development-div2,
.recent-projects-div2 {
  top: 1610px;
  left: 424px;
  font-size: 24px;
}
.creative-development-div2 {
  left: 1079px;
}
.connectto-riyanshgamil-com4,
.encryp-decryp-b1,
.whiteboard2 {
  position: absolute;
  left: 14px;
  font-size: 85px;
  display: inline-block;
}
.whiteboard2 {
  top: 1790px;
  width: 612px;
  height: 156px;
}
.connectto-riyanshgamil-com4,
.encryp-decryp-b1 {
  top: 2554px;
}
.connectto-riyanshgamil-com4 {
  top: 3427px;
  cursor: pointer;
}
.encryption-is-the-process-of-t2,
.the-idea-of-an-online-whiteboa2 {
  position: absolute;
  top: 1953px;
  left: 130px;
  font-size: 24px;
  display: inline-block;
}
.encryption-is-the-process-of-t2 {
  top: 2837px;
  left: 84px;
  white-space: pre-wrap;
}
.arrow-icon5 {
  position: absolute;
  top: 3488px;
  left: 1316.18px;
  width: 73.64px;
  height: 205px;
  cursor: pointer;
}
.photo-2-21 {
  position: absolute;
  top: 300px;
  left: 1037px;
  width: 380px;
  height: 285px;
  object-fit: cover;
}
.encryp-1-icon2,
.whiteboard-1-icon2 {
  position: absolute;
  top: 2010px;
  left: 574px;
  width: 800px;
  height: 449.38px;
  object-fit: cover;
}
.encryp-1-icon2 {
  top: 2752px;
  left: 774px;
  width: 400px;
  height: 423.4px;
}
.contact-div5,
.photo-2-11 {
  position: absolute;
  cursor: pointer;
}
.photo-2-11 {
  top: 300px;
  left: 1013px;
  width: 380px;
  height: 285px;
  object-fit: cover;
}
.contact-div5 {
  top: 8px;
  left: 1291px;
  display: inline-block;
}
.about-div5 {
  left: 1192px;
  cursor: pointer;
}
.about-div5,
.home-div4,
.riyansh-jain-div4,
.work-div5 {
  position: absolute;
  top: 8px;
  display: inline-block;
}
.work-div5 {
  left: 1103px;
  cursor: pointer;
}
.home-div4,
.riyansh-jain-div4 {
  left: 31px;
}
.home-div4 {
  left: 1013px;
  text-decoration: underline;
}
.main-page2-div {
  position: relative;
  background-color: #c7c7c7;
  width: 100%;
  height: 3905px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Red Hat Text";
}
/* Mobile styles */
@media only screen and (max-width: 480px) {
  body {
    line-height: 1.5;
  }
  .creative-p4 {
    margin: 0;
  }
  .developer2,
  body {
    margin: 0;
  }
  .creative-developer-b1 {
    position: relative;
    font-size: 50px;
    width: 100%;
    height: auto;
  }
  .riyansh-p1 {
    margin: 0;
  }
  .riyansh-jain-b1 {
    position: relative;
    font-size: 50px;
    width: 100%;
    height: auto;
  }
  .studying-at-poornima-universit4 {
    position: relative;
  }
  .arrow-icon4 {
    position: relative;
    width: 15px;
    height: 40px;
  }
  .ui-span1 {
    text-decoration: none;
  }
  .cloud-computing-student-who-lo2,
  .riyansh-jain-creative-develope3 {
    position: relative;
    font-size: 18px;
  }
  .riyansh-jain-creative-develope3 {
    font-weight: 500;
  }
  .twitter-div4 {
    left: 0;
  }
  .instagram-div4,
  .lindekin-div4,
  .twitter-div4 {
    position: relative;
    font-size: 18px;
    font-weight: 500;
  }
  .instagram-div4 {
    left: 0;
    width: 100%;
    height: auto;
  }
  .lindekin-div4 {
    left: 0;
  }
  .developed-and-designed-by-riya3,
  .i-am-a-to-be-cloud-engineer-wi4 {
    position: relative;
    font-size: 18px;
    font-weight: 500;
  }
  .i-am-a-to-be-cloud-engineer-wi4 {
    font-size: 24px;
  }
  .i-have-taken-multiple-leadersh1,
  .more-about-me-and-services1,
  .this-website-provides-an-overv1 {
    position: relative;
    font-size: 24px;
    font-weight: 500;
  }
  .i-have-taken-multiple-leadersh1,
  .more-about-me-and-services1 {
    font-size: 18px;
  }
  .more-about-me-and-services1 {
    text-decoration: none;
    line-height: 30px;
    font-weight: 400;
  }
  .div13

